# files
**/archive-contents
**/archive-contents.signed
*.elc
*~
README.md
ac-comphist.dat
bookmarks
ede-projects.el
ido.last
places
projectile-bookmarks.eld
projectile.cache
recentf
saved-places

# directories
auto-save-list/
backups/
elpa/
eshell/
semanticdb/
server/